[credential]
	helper = osxkeychain
[user]
	name = buec
	email = m.buechi@outlook.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	cm = commit -m
	lg = log --oneline -n 10
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[push]
	default = simple
