
" #######################################################################
" KEY MAPPING
"

" replace esc by j - k
:inoremap jk <esc>
:inoremap <esc> <nop>

" Search by selection
vnoremap // y/<C-R>"<CR>

" #######################################################################
" SEARCH / REPLACE
"

" Enable Highlight Search
set hlsearch
" Highlight while search
set incsearch
" Case Insensitivity Pattern Matching
set ignorecase
" Overrides ignorecase if pattern contains upcase
set smartcase

" #######################################################################
" EDITOR BEHAVIOUR
"

" Line numbers
set number
set relativenumber

" show at list one line above/below cursor
set scrolloff=1
" show at least 5 chars begin/end of line
set sidescrolloff=5

" #######################################################################
" IDEA CUSTOMS
"

:map fc :action ReformatCode<CR>

:map <C-i>s :action SearchEverywhere<CR>
:map <C-i>r :action RenameElement<CR> 

