<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.us_quertz_keyboard_layout_ukulele</string>
	<key>CFBundleName</key>
	<string>us_quertz_keyboard_layout_ukulele</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_U.S. QUERTZ</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.us_quertz_keyboard_layout_ukulele.u.s.quertz</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
</dict>
</plist>
